.table-responsive
  %table.table.table-bordered.table-hover
    - Permission.all.reverse_order.group_by(&:controller).each do |controller, permissions|
      - permissions.each_with_index do |permission, i|
        %tr
          - if i == 0
            %td{ rowspan: permissions.size }
              - begin
                - if permissions.map(&:action).include?('index') && current_admin.permitted_to?(controller: controller)
                  = link_to controller, url_for(controller: controller, id: nil)
                - else
                  = controller
              - rescue => e
                = controller
          %td
            = form.label permission.name, class: 'checkbox' do 
              = check_box_tag "#{form.object.class.name.underscore}[permission_ids][]", permission.id, resource.permissions.include?(permission)
              = permission.name