= tr(:email, mail_to(resource.email))
= tr(:state, status_tag(resource.state))
= tr(:sign_in_count)
= tr(:current_sign_in_at)
= tr(:current_sign_in_ip)
= tr(:last_sign_in_at)
= tr(:last_sign_in_ip)
= tr(:created_at)
